@import "stylesResume.scss";
@import "stylesSocial.scss";

body {
  background-color: white;
  margin: 0;
}
/*=========================NAVIGATION========================*/
.mainNav {
  background-color: black;
  padding-bottom: 20px;
  margin-top: -16px;
  font-family: sans-serif;
  width: 100%;
  display: block;

  .home {
    color: white;
    font-weight: bold;
    font-size: 36px;
    text-decoration: none;
    padding-top: 35px;
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-left: 15%;

    &:hover {
      color: #0094ff;
      text-decoration: none;
    }
  }
}

ul {
  list-style-type: none;
  text-align: left;
  padding-top: 25px;
  padding-left: 0;
  width: 35%;
  display: inline-block;
  vertical-align: top;

  li {
    display: inline;
    font-size: 18px;
    text-decoration: none;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        color: #0094ff;
      }
    }
  }
}

/*=========================MAIN CONTENT========================*/

.mainContent {
  width: 90%;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*=======================LARGE HEADER TEXT========================*/

.bigText {
  font-size: 7em;
  font-family: sans-serif;
  margin-top: 110px;
  display: inline-block;
  vertical-align: top;
  width: 45%
}

.selfImage {
  padding-top: 25px;
  height: 500px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: top;
  width: 45%;
}

/*=========================SUBCONTENT========================*/

.subContent {
  width: 100%;
}

.logoContainer {
  padding-top: 15px;
  height: 85%;
  width: 40%;
  display: inline-block;
  vertical-align: top;
  padding-left: 4%;
  padding-right: 4%;

  h1 {
    display: block;
    text-align: center;
  }

  p {
    display: block;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
  }

  .socialDescription {
    text-align: center;
  }
}

.bottomBox {
  width: 100%;
  background-color: black;
  margin-bottom: 30px;

  p {
    font-family: sans-serif;
    font-size: 28px;
    color: ghostwhite;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
}

//----------------TABLET SCREEN------------------//

@media screen and (max-width: 700px) {
  .mainNav {

    .home {
      padding-top: 35px;
      width: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      &:hover {
        color: #0094ff;
      }
    }

    ul {
      list-style-type: none;
      width: 50%;
      display: block;
      padding-left: 0;
      padding-top: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      li {
        display: inline;
        font-size: 18px;
        text-decoration: none;
      }

      a {
        color: white;
        text-decoration: none;

        &:hover {
          color: #0094ff;
        }
      }
    }
  }

    .mainContent {
      width: 90%;
      background-color: white;
      padding-left: 10px;
      margin-left: 5px;
      padding-bottom: 50px;
    }

    .bigText {
      font-size: 5em;
      font-family: sans-serif;
      margin-top: 75px;
      display: block;
      vertical-align: top;
      width: 100%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
  }

    .selfImage {
      display: block;
      vertical-align: top;
      // margin-left: 150px;
      padding: 0;
      width: 50%;
      height: 50%;
      margin-left: auto;
      margin-right: auto;
    }

    .subContent {
      width: 90%;
    }

    .logoContainer {
      display: block;
      width: 100%;
      display: block;
    }

}
