body {
  background-color: white;
  margin: 0;
}
/*=========================NAVIGATION========================*/
.mainNav {
  background-color: black;
  width: 1222px;
  height: 75px;
  margin-top: -16px;
  font-family: sans-serif;
  border-bottom: 2px solid;
}

.home {
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 36px;
  text-decoration: none;
  padding-top: 15px;
  margin-left: 145px;
  float: left;
}

.home:hover {
  color: #0094ff;
}

ul {
  list-style-type: none;
  text-align: center;
  padding-top: 25px;

}

li {
  display: inline;
  padding-left: 50px;
  font-size: 18px;
  text-decoration: none;
}

.mainNav a:hover {
  color: #0094ff;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  text-align: center;
  color: black;
  font-size: 48px;
}
/*=========================MAIN CONTENT========================*/

.mainContent {
  height: 550px;
  width: 100%;
  background-color: white;
  padding-left: 10px;
  margin-left: 5px;
}
/*=======================LARGE HEADER TEXT========================*/
.bigText {
  font-size: 7em;
  font-family: sans-serif;
  margin-top: 110px;
  display: inline-block;
  vertical-align: top;
  width: 45%
}

.selfImage {
  padding-top: 25px;
  height: 500px;
  border-radius: 75%;
  display: inline-block;
  vertical-align: top;
  width: 45%;
}
/*=========================SUBCONTENT========================*/

.subContent {
  width: 100%;
}

.logoContainer {
  padding-top: 15px;
  height: 85%;
  width: 40%;
  display: inline-block;
  vertical-align: top;
  padding-left: 4%;
  padding-right: 4%;
}

.logoContainer h1 {
  display: block;
  text-align: center;
}

.logoContainer p {
  display: block;
  /*margin-left: 100px;*/
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}

.bottomBox {
  width: 100%;
  background-color: black;
  margin-bottom: 30px;
}

.bottomBox p {
  font-family: sans-serif;
  font-size: 28px;
  color: ghostwhite;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
