/*body {
  background-color: ghostwhite;
}*/

.mainNav {
  background-color: ghostwhite;
  width: 1210px;
  height: 75px;
  margin-top: -16px;
  margin-left: 5px;
  font-family: sans-serif;
  border-bottom: 2px solid;
}

.home {
  color: black;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 36px;
  text-decoration: none;
  padding-top: 15px;
  margin-left: 50px;
  float: left;
}

ul {
  list-style-type: none;
  text-align: center;
  padding-top: 25px;

}

li {
  display: inline;
  padding-left: 50px;
  font-size: 18px;
  text-decoration: underline;
}

a {
  color: black;
  text-decoration: none;
}

/*h1 {
text-align: center;
color: black;
font-size: 48px;
}*/

/*span {
padding: 30px;
}*/

.bigTextResume {
  font-size: 110px;
  font-family: sans-serif;
  text-align: left;
  margin-top: 110px;
  margin-bottom: 0px;
  padding-left: 5px;
  display: inline-block;
}

.mainContent {
  height: 800px;
  width: 1200px;
  background-color: white;
  padding-left: 10px;
  margin-left: 5px;
  /*border-radius: 20%;*/
}

.logoContainer {
  margin-top: 100px;
  margin-left: 150px;
  height: 200px;
  display: inline;
  float: left;
}

.workIcon {
  width: 220px;
  height: 200px;
  padding-left: 100px;
}

/*.logoContainer p {
  display: block;
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
}*/


/*.selfImage {
height: 550px;
float: right;
}*/

/*.subContent {
height: 500px;
width: 1200px;
background-color: blue;
padding-top: 10px;
padding-left: 10px;
margin-left: 5px;
/*border-radius: 20%;*/
}*/
