
/*=======================LARGE HEADER TEXT========================*/
.bigTextResume {
  font-size: 50px;
  font-family: sans-serif;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 0px;
  padding-left: 5px;
  padding-bottom: 15px;
  display: block;
}

.workIcon {
  width: 220px;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  align: center;
}

.logoContainer h3 {
  display: block;
  /*margin-left: 100px;*/
  text-align: center;
}

.logoContainerResume {
  @include col (25%);
  }



//----------------TABLET SCREEN------------------//

@media screen and (max-width: 700px) {

  .logoContainerResume {
    @include col (80%);
  }


}
